venv/
chromaDB/
.DS_Store
fresh_venv/
db/
chroma_db/
./data_ingestion/data/scraped_data/

scraped_data/

.vscode/


__pycache__/


*.ipynb_checkpoints/
RAG_copy.ipynb

.env
*.env


config.py  # Only if this file contains API keys, otherwise keep it


venv/
fresh_venv/

*.sqlite3
*.db
*.json  # If temporary, otherwise remove
*.csv   # If dynamically generated


chroma_db/


logs/
*.log



data_ingestion/